# Упражнение 3.1
Этот элемент курса оценивается как 'Упражнение 3'  
вес: 1.0

## Теория

Формула экспоненциальной нормировки:

$$ y_x=1-e^{1-\frac{x}{x_min}} $$

## Задача

Поступив на первый курс университета ИТМО, Василий решил не дожидаться, пока ему предоставят место в общежитии, а снять себе квартиру. Т.к. университет ИТМО находится в центре города, рядом с местом учебы были только дорогие варианты, и Василий был готов проехать несколько остановок на метро. Конечно, лучше, если этих остановок будет поменьше. Но от метро до квартиры Василию было принципиально добираться пешком. И, конечно, хотелось снять квартиру поближе к метро. Состояние квартиры Василия интересовало не слишком. Последний важный момент - цена вопроса. Все факторы показались Василию равнозначными.
В таблице Вы видите возможные варианты квартир, которые рассматривал Василий. В первом столбце ID квартиры, во втором - расстояние от метро пешком (в минутах). В третьем столбце количество остановок на метро, которые надо проехать, чтобы добраться до места учебы. И последний столбец - стоимость аренды в месяц (в тысячах рублей). 


|ID |DISTANCE|STOP_COUNT|   COST|
|---|--------|----------|-------|
|1  |       7|         3|   23.4|
|2  |      22|        12|   27.0|
|3  |      21|        11|   28.1|
|4  |      10|         2|   23.6|
|5  |      15|         4|   24.1|
|6  |      14|         9|   19.5|
|7  |      18|         9|   29.4|
|8  |      21|        12|   27.5|
|9  |       6|         6|   29.0|
|10 |       5|        10|   27.6|
|11 |      22|         9|   23.8|
|12 |      14|         4|   16.6|
|13 |      21|         8|   23.7|
|14 |       5|        11|   23.0|
|15 |      14|        11|   20.7|
|16 |      20|         7|   23.6|
|17 |       9|         8|   24.6|
|18 |      24|         1|   15.6|
|19 |      23|         3|   18.2|
|20 |       5|        10|   28.6|


Помогите Василию выбрать три лучших варианта по совокупности параметров. Для этого надо применить **экспоненциальную нормировку**, сложить полученные нормированные значения параметров и выбрать лучшие варианты.

<sub>***В ответе укажите идентификаторы трех лучших вариантов через запятую и без пробелов, например: 3,10,7***</sub>

In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv('./data/data.csv')
#df.info()
df

    ID  DISTANCE  STOP_COUNT  COST
0    1         7           3  23.4
1    2        22          12  27.0
2    3        21          11  28.1
3    4        10           2  23.6
4    5        15           4  24.1
5    6        14           9  19.5
6    7        18           9  29.4
7    8        21          12  27.5
8    9         6           6  29.0
9   10         5          10  27.6
10  11        22           9  23.8
11  12        14           4  16.6
12  13        21           8  23.7
13  14         5          11  23.0
14  15        14          11  20.7
15  16        20           7  23.6
16  17         9           8  24.6
17  18        24           1  15.6
18  19        23           3  18.2
19  20         5          10  28.6

In [2]:
# Normalize values in the following columns
df['NORM_DISTANCE'] = 1 - np.exp(1 - df['DISTANCE'] / df['DISTANCE'].min())
df['NORM_STOP_COUNT'] = 1 - np.exp(1 - df['STOP_COUNT'] / df['STOP_COUNT'].min())
df['NORM_COST'] = 1 - np.exp(1 - df['COST'] / df['COST'].min())

# Create RESULT column as sum of normalized DISTANCE, STOP_COUNT, COST columns
df['RESULT'] = df['NORM_DISTANCE'] + df['NORM_STOP_COUNT'] + df['NORM_COST']
df

,ID,DISTANCE,STOP_COUNT,COST,NORM_DISTANCE,NORM_STOP_COUNT,NORM_COST,RESULT
0,1,7,3,23.4,0.329680,0.864665,0.393469,1.587814
1,2,22,12,27.0,0.966627,0.999983,0.518462,2.485072
2,3,21,11,28.1,0.959238,0.999955,0.551247,2.510439
3,4,10,2,23.6,0.632121,0.632121,0.401196,1.665437
4,5,15,4,24.1,0.864665,0.950213,0.420084,2.234962
5,6,14,9,19.5,0.834701,0.999665,0.221199,2.055565
6,7,18,9,29.4,0.925726,0.999665,0.587127,2.512518
7,8,21,12,27.5,0.959238,0.999983,0.533651,2.492872
8,9,6,6,29.0,0.181269,0.993262,0.576404,1.750935
9,10,5,10,27.6,0.000000,0.999877,0.536631,1.536507
10,11,22,9,23.8,0.966627,0.999665,0.408824,2.375115
11,12,14,4,16.6,0.834701,0.950213,0.062091,1.847005
12,13,21,8,23.7,0.959238,0.999088,0.405022,2.363348
13,14,5,11,23.0,0.000000,0.999955,0.377716,1.377671
14,15,14,11,20.7,0.834701,0.999955,0.278861,2.113516
15,16,20,7,23.6,0.950213,0.997521,0.401196,2.348930
16,17,9,8,24.6,0.550671,0.999088,0.438376,1.988135
17,18,24,1,15.6,0.977629,0.000000,0.000000,0.977629
18,19,23,3,18.2,0.972676,0.864665,0.153518,1.990859
19,20,5,10,28.6,0.000000,0.999877,0.565402,1.565278

In [3]:
# We are interested in the smallest DISTANCE from home to subway, the smallest number of stations
# from home to universuty and the lowest COST for the flat. That is why we look for the smallest values.
best_variants = df.nsmallest(3, 'RESULT')
best_variants

,ID,DISTANCE,STOP_COUNT,COST,NORM_DISTANCE,NORM_STOP_COUNT,NORM_COST,RESULT
17,18,24,1,15.6,0.977629,0.000000,0.000000,0.977629
13,14,5,11,23.0,0.000000,0.999955,0.377716,1.377671
9,10,5,10,27.6,0.000000,0.999877,0.536631,1.536507

In [4]:
# Print only IDs of the best variants
print(best_variants['ID'].values.tolist())

[18, 14, 10]